nav{
    background-color: rgb(10, 160, 35);
    color:aliceblue;
    height: 65px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}