.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.pokemonCardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


.btn{
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;

  flex-wrap: wrap;
}

.btn button{
  padding: 13px 32px;
  background-color: rgb(53, 121, 163);
  border: none;
  box-shadow: 0px 3px 7px 1px #ababab;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.btn button:hover{
  transform: translateY(3px);
  box-shadow: none;
}

.btn button.active{
  background-color: #b9d7f1;
  color: rgb(8, 75, 13);
}

.btn button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
